In [1]:
import pandas as pd

In [3]:
unique_df = pd.read_csv(r'C:\Users\rohishah\My pratice ML\analytics vidhya Hackathon\exported\unique.csv')

In [4]:
train_df = pd.read_csv('train.csv')

In [5]:
unique_df.head()

,Domain,Title,Meta Description,Meta Keywords
0,www.fiercepharma.com,Pharma News | Pharma Industry | Pharmaceutical...,Visit FiercePharma for pharma industry news on...,"pharmaceutical company,pharmaceutical industry..."
1,upload.umin.ac.jp,NaN,NaN,NaN
2,www.anzctr.org.au,ANZCTR,NaN,NaN
3,www.chictr.org.cn,?????????? - ??????????????????????,NaN,NaN
4,en.search.irct.ir,NaN,NaN,NaN

In [6]:
train_df.head()

,Webpage_id,Domain,Url,Tag
0,1,www.fiercepharma.com,http://www.fiercepharma.com/marketing/tecfider...,news
1,2,www.fiercepharma.com,http://www.fiercepharma.com/pharma/novo-equipp...,news
2,3,www.fiercepharma.com,http://www.fiercepharma.com/pharma/another-exe...,news
3,4,www.fiercepharma.com,http://www.fiercepharma.com/pharma/teva-buy-bi...,news
4,5,www.fiercepharma.com,http://www.fiercepharma.com/marketing/actress-...,news

In [7]:
final_df = train_df.merge(unique_df)

In [8]:
len(final_df)

53447

In [10]:
final_df.to_csv('final_file_Title_Desc_KeyWork.csv',index=False)