In [1]:
import pandas as pd

In [2]:
import re

In [3]:
word = "news"

In [4]:
news = []
web_id = []
for chunks in pd.read_csv('html_data.csv',chunksize=1000):
    for counter in range(len(chunks)):
        news_counter = 0
        row = chunks.iloc[counter]
        row_html = row.Html
        news_counter = len(re.findall(word,row_html.lower()))
        news.append(news_counter)
        web_id.append(row.Webpage_id)
    print("first chunk completed")

first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed
first chunk completed

In [5]:
web_df = pd.DataFrame(web_id,columns=['web_id'])

In [6]:
news_df = pd.DataFrame(news,columns=['count'])

In [7]:
len(news_df)

79345

In [8]:
final_df = web_df.merge(news_df,left_index=True,right_index=True)

In [9]:
final_df.head()

   web_id  count
0       1      7
1       2      8
2       3      7
3       4      6
4       5     10

In [10]:
main_df = pd.read_csv('train.csv')

In [11]:
main_df.head()

,Webpage_id,Domain,Url,Tag
0,1,www.fiercepharma.com,http://www.fiercepharma.com/marketing/tecfider...,news
1,2,www.fiercepharma.com,http://www.fiercepharma.com/pharma/novo-equipp...,news
2,3,www.fiercepharma.com,http://www.fiercepharma.com/pharma/another-exe...,news
3,4,www.fiercepharma.com,http://www.fiercepharma.com/pharma/teva-buy-bi...,news
4,5,www.fiercepharma.com,http://www.fiercepharma.com/marketing/actress-...,news

In [12]:
finally_df = main_df.merge(final_df,left_on="Webpage_id",right_on="web_id")

In [13]:
finally_df.head()

,Webpage_id,Domain,Url,Tag,web_id,count
0,1,www.fiercepharma.com,http://www.fiercepharma.com/marketing/tecfider...,news,1,7
1,2,www.fiercepharma.com,http://www.fiercepharma.com/pharma/novo-equipp...,news,2,8
2,3,www.fiercepharma.com,http://www.fiercepharma.com/pharma/another-exe...,news,3,7
3,4,www.fiercepharma.com,http://www.fiercepharma.com/pharma/teva-buy-bi...,news,4,6
4,5,www.fiercepharma.com,http://www.fiercepharma.com/marketing/actress-...,news,5,10

In [14]:
finally_df.to_csv('finally_df.csv',index=False)

In [17]:
len(main_df.Domain.unique())

3974

In [ ]:
finally_df